nav {
  background-color: #05386b;
  padding: 10px 20px;
  color: white;
  li {
    display: inline-block;
    a {
      color: white;
      text-decoration: none;
      text-align: right;
    }
  }
}
.user-item {
  color: black;
}
.alert-light {
  background-color: bisque;
}
.github-bio {
  li {
    display: block;
  }
}
